.imagemDeFundo {
    position: relative;
    text-align: left; /* Ajusta o alinhamento do texto */
}

.Prefeitura {
    position: absolute;
    top: 85%; /* Ajusta a posição vertical do texto ao centro */
    left: 17%; /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente */
    line-height: 1;
    z-index: 3;
    width: 90px;
    height: 65px;
}

.Secretaria {
    position: absolute;
    top: 84.5%; /* Ajusta a posição vertical do texto ao centro */
    left: 5%; /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente */
    line-height: 1;
    z-index: 3;
    width: 100px;
    height: 59px;
}

.imagemCentralizada {
    width: 100%;
    height: auto;
    display: block;
}

.imagemP {
    position: absolute;
    top: 56%; /* Ajusta a posição vertical do texto ao centro */
    left: 57%; /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente */
    width: 500px; height: 500px;
    z-index: 2;
    mask-image: linear-gradient(to top, transparent 0%, black 10%);
}

.textoSobreImagem {
    position: absolute;
    top: 40%; /* Ajusta a posição vertical do texto ao centro */
    left: 5%; /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente */
    color: white;
    font-family: 'Open Sans', sans-serif; /* Substitua "Nome da Fonte" pela fonte desejada */
    font-size: 5em; /* Ajuste o tamanho da fonte conforme necessário */
    line-height: 1;
    z-index: 3;
}

.textoPequenoSobreImagem {
    position: absolute;
    top: 65%; /* Ajusta a posição vertical do texto ao centro */
    left: 5%; /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente */
    color: white;
    font-family: 'Open Sans', sans-serif; /* Substitua "Nome da Fonte" pela fonte desejada */
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    line-height: 1;
    z-index: 3;
}

.imagemPequenalateralizada {
position: absolute;
top: 60%;
left: 85%;
transform: translateX(-50%);
width: 250px; 
height: 250px;
z-index: 1;
}

.imagemPequenalateralizadaSuperior {
position: absolute;
top: 7%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 160px; 
height: 320px;
z-index: 3;
}

@media screen and (max-width: 1258px) {
.textoSobreImagem {
font-size: 4em; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}
.imagemPequenalateralizadaSuperior {
position: absolute;
top: 7%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 150px; 
height: 300px;
}
.imagemPequenalateralizada {
position: absolute;
top: 55%;
left: 85%;
transform: translateX(-50%);
width: 240px; 
height: 240px;
}
}

@media screen and (max-width: 1052px) {
.textoSobreImagem {
font-size: 3em; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}

.imagemP {
width: 400px; height: 400PX;
top: 56%; /* Ajusta a posição vertical do texto ao centro */
    left: 57%;
}

.imagemPequenalateralizadaSuperior {
position: absolute;
top: 5%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 140px; 
height: 280px;
}
.imagemPequenalateralizada {
position: absolute;
top: 50%;
left: 85%;
transform: translateX(-50%);
width: 230px; 
height: 230px;
}
}

@media screen and (max-width: 944px) {
.imagemCentralizada {
    width: 100%;
    height: 550px;
    display: block;
}

.textoSobreImagem {
font-size: 3em; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}
.imagemP {
width: 350px; height: 350PX;
top: 56%; /* Ajusta a posição vertical do texto ao centro */
left: 57%;
}
.imagemPequenalateralizadaSuperior {
position: absolute;
top: 7%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 100px; 
height: 200px;
}
.imagemPequenalateralizada {
position: absolute;
top: 45%;
left: 85%;
transform: translateX(-50%);
width: 200px; 
height: 200px;
}
}
@media screen and (max-width: 814px) {
.textoSobreImagem {
font-size: 45px; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}
.imagemP {
width: 300px; height: 300PX;
top: 56%; /* Ajusta a posição vertical do texto ao centro */
left: 57%;
}

.imagemPequenalateralizadaSuperior {
position: absolute;
top: 10%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 100px; 
height: 200px;
}
.imagemPequenalateralizada {
position: absolute;
top: 40%;
left: 85%;
transform: translateX(-50%);
width: 190px; 
height: 190px;
}

}

@media screen and (max-width: 740px) {
.textoSobreImagem {
font-size: 39px; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}

.imagemP {
width: 260px; height: 260PX;
top: 56%; /* Ajusta a posição vertical do texto ao centro */
left: 57%;
}

.imagemPequenalateralizadaSuperior {
position: absolute;
top: 16%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 90px; 
height: 180px;
}
.imagemPequenalateralizada {
position: absolute;
top: 50%;
left: 85%;
transform: translateX(-50%);
width: 160px; 
height: 160px;
}

}

@media screen and (max-width: 666px) {
.textoSobreImagem {
font-size: 39px; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}
.imagemPequenalateralizadaSuperior {
position: absolute;
top: 27%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 75px; 
height: 150px;
}
.imagemPequenalateralizada {
position: absolute;
top: 50%;
left: 85%;
transform: translateX(-50%);
width: 125px; 
height: 125px;
}

.Prefeitura {
    top: 85%; /* Ajusta a posição vertical do texto ao centro */
    left: calc(35% - 20%);  /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    width: 90px;
    height: 65px;
}

.Secretaria {
    top: 84.5%; /* Ajusta a posição vertical do texto ao centro */
    left: calc(35% + 20%); /* Ajusta a posição horizontal do texto em relação à borda esquerda */
    width: 100px;
    height: 59px;
}

}

@media screen and (max-width: 490px) {
.textoSobreImagem {
font-size: 39px; /* Ajuste o tamanho da fonte para telas menores conforme necessário */
}
.imagemPequenalateralizadaSuperior {
position: absolute;
top: 27%;
left: 85%;
transform: translateX(-50%) rotate(-45deg);
width: 75px; 
height: 150px;
}
.imagemPequenalateralizada {
position: absolute;
top: 50%;
left: 85%;
transform: translateX(-50%);
width: 125px; 
height: 125px;
}

}